# Toggle glove mode.
on property:persist.vendor.touch_sensitivity_mode=0 && property:sys.boot_completed=1
    write /proc/touchpanel/game_switch_enable "0"

on property:persist.vendor.touch_sensitivity_mode=1 && property:sys.boot_completed=1
    write /proc/touchpanel/game_switch_enable "1"